* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

/* Container width */
.container {
    width: 70%;
    margin: 0 auto;
}

.container-thin {
    width: 50%;
    margin: 0 auto;
}

.highlight {
    font-family: 'Sriracha', cursive;
    font-weight: normal;
    padding: 0 8px 0 0px;
    color: aqua;
    line-height: 60px;
    letter-spacing: -1px;
}

/*******************************************/
/*              Header Styles              */
/*******************************************/

section.header {
    background-color: #1F2937;
    border-bottom: 1px solid #2c394a;
}

.header-content {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px;
    align-items: center;
    gap: 30px;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #E5E7EB;
}

.nav li {
    cursor: pointer;
}

/* .header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
} */

.header .logo-svg {
    margin-right: auto;
}

.user {
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
}


/*******************************************/
/*               Hero Styles               */
/*******************************************/
section.hero {
    /* height: 440px; */
    background-color: #1F2937;
    overflow: hidden;
    padding: 100px 0;
}

section.hero img {
    width: 100%;
    min-width: 300px;
    max-height: 240px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

section.hero .hero-content{
    display: flex;
    height: 100%;
}

section.hero .left, section.hero .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left {
    padding-right: 20px;
    flex: 1;
    color: #fff;
    align-items: flex-start;
    min-width: 300px;
    gap: 10px;
}

.left h1 {
    font-size: 48px;
    line-height: 1em;
}

.left .sub-text {
    color: #e5e7ebbd;
}

.left button {
    background-color: #3883F6;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    padding: 8px 34px;
    cursor: pointer;
    margin-top: 10px;
}

.left button:hover {
    background-color: #5294f8;
}

.right {
    flex: 1;
}



/*******************************************/
/*               Info Styles               */
/*******************************************/

section.information {
    padding: 50px 0 100px 0;
    background-color: #fffbf0;
}

section.information h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #1F2937;
}

section.information .info-boxes {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

section.information .box {
    text-align: center;
    color: #1F2937;
}

section.information img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    text-align: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 8px solid #fff;
    padding-bottom: 50px;
    background-color: #fff;
}

.info-boxes .box1 {
    transform: rotate(1deg);
}

.info-boxes .box2 {
    transform: rotate(-1deg);
}

.info-boxes .box3 {
    transform: rotate(1deg);
}

.info-boxes .box4 {
    transform: rotate(-1deg);
}


/*******************************************/
/*               Quote Styles              */
/*******************************************/

section.quote {
    background-color: #E5E7EB;
    padding: 100px 0px;
    color: #1F2937;
}

section.quote p:first-child {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
}

section.quote p:nth-child(2) {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}


/*******************************************/
/*               CTA Styles                */
/*******************************************/

section.cta {
    padding: 100px 0px;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    background-color: #3883F6;
    padding: 50px 100px;
    align-items: center;
    border-radius: 8px;
}

.sign-up .left {
    flex: 3;
}

.sign-up .left h3 {
    font-size: 1.5rem;
}

.sign-up .right {
    flex: 1;
    text-align: right;
}

.sign-up .right button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 8px 34px;
    font-size: 1rem;
    cursor: pointer;
}

/*******************************************/
/*             Footer Styles               */
/*******************************************/

section.footer {
    background-color: #1F2937;
    text-align: center;
    color: #fff;
    padding: 50px 0;
}